*{
	padding: 0;
	margin: 0;
}
body{
    background: url(./background.png);
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}
div{
    text-align: center;
}

h1{
    color: rgb(33, 99, 241);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}
h2{
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 17px;
}
h3{
    font-size: 25px;

}
button{
    margin-top: 5px;
    margin-bottom: 5px;
	height: 45px;
	width: 120px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #3759f1;
	border-radius: 8px;
	border: 0px solid #f14d37;
	transition: .5s;
}
button:hover{
	background: #fd0000;
}
p{
    font-weight: bold;
    color: black;
}
input {
    color: #f53838 ;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid black ;
    height: 20px;
    font-size: 15px;
}
table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
tr{
    height:25px;
}
